/* General App Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Left Panel */
.left-panel {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-inner-panel{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.left-left-panel, .left-right-panel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game-logo {
  width: 12rem;
  margin-bottom: 20px;
}

.game-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.betting-form, .money-time-form, .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.betting-form label, .money-time-form label{
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.input-field {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.play-time {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #0056b3;
}

/* Right Panel */

.player-win-details{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.right-panel {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.game-image {
  width: 200px;
  margin-bottom: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.results-table th {
  background-color: #007bff;
  color: #ffffff;
}

.results-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
